# Ignore everything
/*

# Preserve git files
!.gitignore
!.gitattributes
!.gitkeep

# Preserve root folder contents
!/README.md
!/LICENSE

# Preserve application/views/bootstrap folder
!/application/
/application/*
!/application/views/
/application/views/*
!/application/views/bootstrap/

# Preserve out/bootstrap folder
!/out/
/out/*
!/out/bootstrap/
